[user]
    name = Gonçalo Silva
    email = goncalossilva@gmail.com
    signingkey = FCE7261799167E4B
[core]
    ignorecase = true
    editor = "vim"
    excludesfile = /home/goncalossilva/.gitignore_global
[init]
    defaultBranch = main
[fetch]
    prune = true
    pruneTags = true
[submodule]
    fetchJobs = 4
    recurse = true
[commit]
    gpgsign = true
[push]
    autoSetupRemote = true
    followTags = true
[branch]
    sort = committerdate
[tag]
    sort = taggerdate
[status]
    submoduleSummary = true
[diff]
    algorithm = histogram
    colorMoved = dimmed_zebra
    colorMovedWS = allow-indentation-change
    submodule = log
[merge]
    conflictstyle = zdiff3
[rebase]
    autosquash = true
[rerere]
    enabled = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
[remote "origin"]
    prune = true
[credential]
    helper = /usr/libexec/git-core/git-credential-libsecret
    helper = osxkeychain
    helper = cache
[alias]
    br = branch
    co = checkout
    ci = commit
    st = status
    branchprune = "!f() { \
        set -e; \
        MAIN="${1:-main}"; \
        git fetch --prune; \
        git checkout -q "$MAIN"; \
        allbranches=$(git for-each-ref refs/heads/ \"--format=%(refname:short)\"); \
        while IFS= read -r branch; do mergeBase=$(git merge-base \"$MAIN\" \"$branch\") && [[ $(git cherry \"$MAIN\" $(git commit-tree $(git rev-parse \"$branch^{tree}\") -p \"$mergeBase\" -m _)) == \"-\"* ]] && list=\"$list\\n$branch\"; done <<< \"$allbranches\"; \
        cmd='echo \"$list\" | xargs -n 1 git branch -D'; \
        if [ -z \"$list\" ]; then \
            echo \"No branches to remove.\"; \
        else \
            echo \"\nBranches to remove:$list\n\"; \
            read -p 'Press enter to continue'; echo \" \"; \
            eval $cmd; \
        fi \
    }; f"
    tagrename = "!f() { \
        git tag $2 $1 && \
        git tag -d $1 && \
        git push origin :refs/tags/$1 && \
        git push --tags; \
    }; f"
